In [1]:
import pandas as pd
df = pd.read_csv("../data/book.csv")
df.head()

,Unnamed: 0,book_id,authors,original_publication_year,title,language_code,average_rating,image_url,description
0,0,2767052,Suzanne Collins,2008.0,"The Hunger Games (The Hunger Games, #1)",eng,4.34,https://images.gr-assets.com/books/1447303603m...,First in the ground-breaking HUNGER GAMES tril...
1,1,3,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Sorcerer's Stone (Harry P...,eng,4.44,https://images.gr-assets.com/books/1474154022m...,Rescued from the outrageous neglect of his aun...
2,2,41865,Stephenie Meyer,2005.0,"Twilight (Twilight, #1)",en-US,3.57,https://images.gr-assets.com/books/1361039443m...,"When 17 year old Isabella Swan moves to Forks,..."
3,3,2657,Harper Lee,1960.0,To Kill a Mockingbird,eng,4.25,https://images.gr-assets.com/books/1361975680m...,Harper Lee's classic novel of a lawyer in the ...
4,4,4671,F. Scott Fitzgerald,1925.0,The Great Gatsby,eng,3.89,https://images.gr-assets.com/books/1490528560m...,The only authorized edition of the twentieth-c...

In [2]:
df.shape

(4766, 9)

In [3]:
df.columns

Index(['Unnamed: 0', 'book_id', 'authors', 'original_publication_year',
       'title', 'language_code', 'average_rating', 'image_url', 'description'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4766 entries, 0 to 4765
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 4766 non-null   int64
 1   book_id                    4766 non-null   int64
 2   authors                    4766 non-null   object
 3   original_publication_year  4766 non-null   float64
 4   title                      4766 non-null   object
 5   language_code              4766 non-null   object
 6   average_rating             4766 non-null   float64
 7   image_url                  4766 non-null   object
 8   description                4766 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 335.2+ KB

In [5]:
df.isnull().sum()

Unnamed: 0                   0
book_id                      0
authors                      0
original_publication_year    0
title                        0
language_code                0
average_rating               0
image_url                    0
description                  0
dtype: int64